.Item {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
}

.Item img {
  width: 100%;
  height: 100%;
  transition: transform .6s;
}

.Item .desc {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.733), transparent)
}

.Item h2 {
  margin: 0;
  font-size: 1.8em;
  text-transform: capitalize;
}

.Item .date {
  position: absolute;
  right: 10px;
  top: 0;
  background: rgba(102, 102, 102, 0.8);
  padding: 5px 10px;
}

.Item:hover img {
  transform: scale(1.05, 1.05);
}